<!DOCTYPE html>
{% extends "base_generic.html" %}
<html>
    {% block content %}
    <head>

    </head>
    <body>
        <table style="width:80%;margin:1px; font-size:11">
            <div class="capt" style="width:80%;margin:1px; font-size:21"><strong>Book List </strong></div>
            <thead>
                <tr><th>Title(s)</th><th>Author(s)</th><th>Updates(s)</th><th>Delete(s)</th></tr>      
            </thead>
            <tbody>
                {% if book_list %}
                {% for book in book_list %}
                    <tr><td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td><td>{{book.author}}</td><td><a href="{% url 'book_update' book.id %}"><span class="glyphicon glyphicon-edit"></span></a></td><td><a href="{% url 'book_delete' book.id %}"><span class="glyphicon glyphicon-remove"></span></a></td></tr>
                {% endfor %}
                {% else %}
                    <p>There are no books in shelf yet.</p>
                {% endif %}      
            </tbody>
        </table>
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    <div>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</div>
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        {% endblock %} 
    </body>
    {% endblock %}
</html>
