{% extends "base_generic.html" %}
{% block content %}
  <div class="fc">
      <em class="capt">Renew: <em style="font-family:Helvetica; color:white; font-size: 12px;"> {{ book_instance.book.title }}</em></em>
    </div>
  <ol>
     <li><strong>Renew:</strong> <em>{{ book_instance.book.title }}</em></li>
     <li><strong>Borrower:</strong> <em>{{ book_instance.borrower }}</em></li>
  </ol>
  <div {% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</div>
    
  <form action="" method="post" style="width:100%;margin-left: 30px; font-size:0.5">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" style="width:13.5%;margin-left: -53px; font-size:1">
  </form>
{% endblock %}
