<!DOCTYPE html>
{% extends "base_generic.html" %}
<html>
    {% block content %}
    <head>

    </head>
    <body>
        <table style="width:80%;margin:1px; font-size:11">
            <div class="capt" style="width:80%;margin:1px; font-size:21"><strong>Books on Shelf </strong></div>
            <thead>
                <tr><th>Title(s)</th><th>Author(s)</th><th>ISBN(s)</th><th>Language(s)</th><th>DI(s)</th></tr>      
            </thead>
            <tbody>
                {% if book_stores %}
                {% for book in book_stores %}
                    <tr><td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td><td><a href="{% url 'author_update' pk=book.author.id %}">{{book.author}}</a></td><td><a href="{% url 'copies' pk=book.id %}">{{ book.isbn }}</a></td><td><a href="{% url 'language_update' pk=book.language.id %}">{{ book.language }}</a></td><td><a href="{% url 'book_update' pk=book.id %}">{{ book.no_of_copy }}</a></td></tr>
                {% endfor %}
                {% else %}
                    <p>There are no books in store yet.</p>
                {% endif %}      
            </tbody>
        </table>
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    <div>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</div>
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        {% endblock %} 
    </body>
    {% endblock %}
</html>
