<!DOCTYPE html>
{% extends "base_generic.html" %}
<html>
    {% block content %}
    <head>

    </head>
    <body>
        <table style="width:80%;margin:1px; font-size:11">
            <div class="capt" style="width:80%;margin:1px; font-size:21"><strong>Languages</strong></div>
            <tbody>
                {% if language_list %}
                {% for lang in language_list %}
                    <tr><td><a href="{{ lang.get_absolute_url }}">{{ lang.name }}</a></td>{% if perms.catalog.can_mark_returned %}<td><a href="{% url 'language_update' lang.id %}"><span class="glyphicon glyphicon-edit"></span></a></td><td><a href="{% url 'language_delete' lang.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>{% endif %}</tr>
                {% endfor %}
                {% else %}
                    <p>There are no language in list yet.</p>
                {% endif %}      
            </tbody>
        </table>
        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    <div>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</div>
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        {% endblock %} 
    </body>
    {% endblock %}
</html>
