<!DOCTYPE html>
{% extends "base_generic.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
    {% block content %}
<h3>Language Creation Form</h3>
    <form action="" method="post" style="width:33%;margin-left:89; font-size:11;">
    {% csrf_token %}
   {{ form.as_p }}
    <button type="submit" class="btn btn-success">Create!</button> 
    </form>
create new <a href="{% url 'language_create' %}" target=_blank >Language</a>, <a href="{% url 'author_create' %}" target=_blank >Author</a>, <a href="{% url 'book_create' %}" target=_blank >Book</a> or <a href="{% url 'genre_create' %}" target=_blank >Genre</a> one-time!
   {% endblock %}
 
 
</body>
</html>

