@charset "utf-8";
/* Style the header with a grey background and some padding */
body {
    background-color: hsla(209, 31%, 49%, 0.295);
    font-size: 13px;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 780px;
    width: 100%;
}

 .jss_one{background-color: green;
        width: 220px;
        opacity: 0.9;
        border-radius: 2px;
        text-align: center;
        font-size: 13px;
        color: white;
        }

.jss_two{   
        background-color: red;
        width: 220px;
        opacity: 0.9;
        border-radius: 2px;
        text-align: center;
        font-size: 13px;
        color: white;
        }

.jss_three{   
        background-color: blue;
        width: 220px;
        opacity: 0.9;
        border-radius: 2px;
        text-align: center;
        font-size: 13px;
        color: white;
        }
.males{   
        background-color: green;
        width: 220px;
        opacity: 0.9;
        border-radius: 2px;
        text-align: center;
        font-size: 13px;
        color: white;
        }
.females{   
        
        background-color: grey;
        width: 220px;
        opacity: 0.9;
        border-radius: 2px;
        text-align: center;
        font-size: 13px;
        color: white;
        }

.header {
  overflow: hidden;
  background-color: dodgerblue;
  padding: 20px 10px;
  width: 57%;
  
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 15px;
  border-radius: 2px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: hsla(249, 42%, 37%, 0.494);
  color: white;
}

.header a.name {
  margin left: 10px;
  background-color: hsla(249, 42%, 37%, 0.494);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
.header-right {
    float: none;
    
  }
}
  
.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background-color: dodgerblue; /* Grey background */
  width: 57%;
  margin-top: 600px;
}

form {
  overflow: hidden;
  background-color: dodgerblue;
  padding: 20px 10px;
  width: 83%;
  border-radius: 5px;
  margin-left: -53px;
   }


table, th, td {
        border: 1px solid rgba(247, 238, 238, 0.918);
        font-family: Baskerville Old Face;
        text-align: center;
        font-size: 11px;
}
table {border-collapse: collapse;
       margin-left: -54px;
       width: 83%;
    }

th, td {padding: 0px;}

table {
  border-spacing: 5px;
}

thead, tfoot {background-color: rgb(206, 172, 127);}

tbody {background-color: seashell;}
tr:nth-child(even) {background-color: silver;}
pagination{ width:80%;margin-left:-50px;}

.capt{margin-left: -53px;
      border-radius: 5px;
      background-color: red;
      text-align: center;
      color: white;
      font-size:11px;
      width: 83%;
      }

.cap_form{margin-left: -13px;
      border-radius: 5px;
      background-color: red;
      text-align: center;
      color: white;
      font-size:17px;
      width: 110%;
      }

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

/* The sidebar menu */
.sidenavs {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 620px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0px; /* Stay at the top */
  right: 0;
  background-color: #f1f1f1; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background: #408000;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  margin-top: 0px;
  margin-left: 20px;
  border-radius: 5px;
}

}

.sidenavs.nav {
 margin-top: 20px;
 display: block;
}


/* The navigation menu links */
.sidenavs a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavs a:hover {
  color: #f1f1f1;
}

/* Style page content */
.mains {
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */


navs{
        background: hsla(249, 13%, 89%, 0.952);
        width: 60em;
        position: fixed;
        top: 4rem;
        opacity: 0.8;
        
    }
navz{
        background: orange;
        width: 60em;
        position: fixed;
        top: 6rem;
        opacity: 0.5;
        width: 100%
        
        
    }
    img{
        
        border: 2px solid rgba(247, 238, 238, 0.918);
        padding: 2px;
    }
    article{
        margin: 0px;
    }

    bodys{
        margin-right: 200px;
    }

    nav ul{
    
    float: right;
    
    }
    h1{
        background: #4ec29565
        margin: 0px
        width: 100%
        top:0;
        opacity: 0.8;
    }
    P.blocktext{
        text-align: center;
        background: #184bf365
    }
    
/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 
  }
}
  


p{ margin: 0px;
   margin-right: 130;
   width: 85%;
   padding: 20px;
   background-color: rgba(247, 238, 238, 0.918);
   border-radius: 10px;
   top: 4rem;
   opacity: 0.9;
   
   }

.fc{
    display: flex;
    flex-flow: row wrap;
    margin-right: 0px;
            }

.ft{background-color: rgba(247, 238, 238, 0.918);}
.p{
    flex: 1;
            }

.second{
    flex: 2;
            }


.grd_count{margin:0 auto;
      border-radius: 10px;
      background-color: #f1f1f1;
      text-align: center;
      font-size: 11px;
      opacity: 0.8;
      }



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: dodgerblue;
  font-family: Helvetica;
  margin-top: 0px;
  width: 54%;
  margin-left: 0px;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  opacity: 0.6;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: red;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: Bodoni MT, Helvetica, sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown_right {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: grey;
  opacity: 0.6;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow:auto;
  border-radius: 10px;
  font-size: 9px;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: blanchedalmond;
                           border-radius: 10px;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  opacity: 0.6;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: red;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: Bodoni MT, Helvetica, sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown_right {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contents {
  display: none;
  position: relative;
  background-color: hsla(209, 31%, 49%, 0.295);
  opacity: 0.6;
  min-width: 380px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow:auto;
  border-radius: 10px;
  font-size: 11px;

}

/* Links inside the dropdown */
.dropdown-contents a {
  color: crimson;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}


/* Change color of dropdown links on hover */
.dropdown-contents a:hover {background-color: blanchedalmond;
                           border-radius: 10px;}


/* Show the dropdown menu on hover */
.dropdowns:hover .dropdown-contents {
  display: block;
}

.header-right {
  overflow: hidden;
  background-color: dodgerblue;
  font-family: Helvetica;
  top: 0px;
  width: 44px;
  margin-right: 617px;
  font-size: 8px;
  line-height: 9px;
  
  
}

.sidebar {
  font-family: Helvetica;
  margin-top: 0%;
  width: 49%;
  margin-left: 10px;
  font-size: 13px;
  z-index: 1;
  
}
  
}

/* Links inside the navbar */
.header-right a {
  float: right;
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdowns:hover .dropbtn {
  background-color: orange;
}

@media (max-width: 900px) 
{
  .sidenavs {
    display: none;
    visibility: hidden;
  }
  
  .header-right {
    display: none;
    visibility: hidden;
  }
  
  .footer {
    width: 100%;
    font-size: 8px;
    
  }
  
  .navbar {
    width: 100%;
    font-size: 8px;
    margin-right: 0px;
  }
  
.capt { margin-left: -13px;
         width: 100%;
         font-size: 8px;
  }
  
  
  form { margin-left: -13px;
         width: 100%;
  }
  .sidebar {
      height: 90%; /* Full-height: remove this if you want "auto" height */
      width: 98%;
      font-size: 8px;
  }
  
  table{ margin-left: -13px;
        width: 100%;
        font-size: 8px;}
  
  pagination{ width:80%;
              margin-left:100px;}
}


  
@media screen and (max-height: 900px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 9px;}
  .navbar a {font-size: 8px;}
}

@media screen and (max-height: 700px) {
  .sidenav {padding-top: 13px;}
  .sidenav a {font-size: 9px;}
  .navbar a {font-size: 8px;}
}

@media screen and (max-height: 500px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 8px;}
  .navbar a {font-size: 7px;}
}